@myColor: #faf;

.test{
	color: #faf;

	h1{
		font-size: 10em;
		line-height: 1px;
	}
	a{
		text-decoration: none;
		color: @myColor;
		font-size: 5em;

		background: darken(spin(@myColor, 300), 2);


	}

}
